@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot');
  src:  url('fonts/icomoon.eot') format('embedded-opentype'),
    url('fonts/icomoon.ttf') format('truetype'),
    url('fonts/icomoon.woff') format('woff'),
    url('fonts/icomoon.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arduino:before {
  content: "\e900";
  color: #00979d;
}
.icon-azurepipelines:before {
  content: "\e901";
  color: #2560e0;
}
.icon-codecov:before {
  content: "\e902";
  color: #f01f7a;
}
.icon-dev-dot-to:before {
  content: "\e903";
}
.icon-digg:before {
  content: "\e904";
}
.icon-docker:before {
  content: "\e905";
  color: #1488c6;
}
.icon-drone:before {
  content: "\e906";
}
.icon-github:before {
  content: "\e907";
}
.icon-google:before {
  content: "\e908";
  color: #4285f4;
}
.icon-ionic:before {
  content: "\e909";
  color: #3880ff;
}
.icon-mega:before {
  content: "\e90a";
  color: #d9272e;
}
.icon-messenger:before {
  content: "\e90b";
  color: #00b2ff;
}
.icon-microsoftword:before {
  content: "\e90c";
  color: #2b579a;
}
.icon-mozillafirefox:before {
  content: "\e90d";
  color: #ff7139;
}
